In [ ]:
import pandas as pd

train = pd.read_csv("data/train.csv", encoding="utf-8")
building_info = pd.read_csv("data/building_info.csv", encoding="utf-8")

# building_info에서 '건물번호' 컬럼 제외한 나머지 컬럼 준비
building_info_wo_number = building_info.drop(columns=["건물번호"])

# train과 building_info를 '건물번호' 기준으로 merge
merged = pd.concat(
    [
        train,
        building_info_wo_number.set_index(building_info["건물번호"])
        .reindex(train["건물번호"])
        .reset_index(drop=True),
    ],
    axis=1,
)


# 컬럼명을 영어로 변경
column_mapping = {
    "num_date_time": "num_date_time",
    "건물번호": "building_num",
    "일시": "datetime",
    "기온(°C)": "temperature",
    "강수량(mm)": "rainfall",
    "풍속(m/s)": "wind_speed",
    "습도(%)": "humidity",
    "일조(hr)": "sunshine_hours",
    "일사(MJ/m2)": "solar_radiation",
    "전력소비량(kWh)": "power_consumption",
    "건물유형": "building_type",
    "연면적(m2)": "total_area",
    "냉방면적(m2)": "cooling_area",
    "태양광용량(kW)": "solar_capacity",
    "ESS저장용량(kWh)": "ess_capacity",
    "PCS용량(kW)": "pcs_capacity",
}

# 컬럼명 변경
merged = merged.rename(columns=column_mapping)

                건물번호         기온(°C)        강수량(mm)        풍속(m/s)  \
count  204000.000000  204000.000000  204000.000000  204000.000000
mean       50.500000      26.098130       0.304185       1.967977
std        28.866141       4.052888       2.052947       1.316102
min         1.000000       8.400000       0.000000       0.000000
25%        25.750000      23.500000       0.000000       1.000000
50%        50.500000      26.300000       0.000000       1.800000
75%        75.250000      28.800000       0.000000       2.700000
max       100.000000      38.700000     100.900000      15.200000

               습도(%)         일조(hr)      일사(MJ/m2)     전력소비량(kWh)  \
count  204000.000000  204000.000000  204000.000000  204000.000000
mean       75.206706       0.277459       0.702752    3329.575857
std        16.378490       0.396476       1.017394    3689.102792
min         0.000000       0.000000       0.000000       0.000000
25%        64.000000       0.000000       0.000000    1176.120000
50%        78.000000       0.000000       0.050000    1935.720000
75%        88.000000       0.600000       1.230000    3726.765000
max       100.000000       1.000000       3.950000   27155.940000

            연면적(m2)      냉방면적(m2)
count  2.040000e+05  2.040000e+05
mean   1.857529e+05  1.091272e+05
std    3.373847e+05  2.066793e+05
min    1.003542e+04  3.378400e+02
25%    5.698032e+04  2.595468e+04
50%    1.049387e+05  6.433699e+04
75%    2.027810e+05  1.243468e+05
max    3.260213e+06  1.956128e+06

In [4]:
merged

,num_date_time,building_num,datetime,temperature,rainfall,wind_speed,humidity,sunshine_hours,solar_radiation,power_consumption,building_type,total_area,cooling_area,solar_capacity,ess_capacity,pcs_capacity
0,1_20240601 00,1,20240601 00,18.3,0.0,2.6,82.0,0.0,0.00,5794.80,호텔,82912.71,77586.0,-,-,-
1,1_20240601 01,1,20240601 01,18.3,0.0,2.7,82.0,0.0,0.00,5591.85,호텔,82912.71,77586.0,-,-,-
2,1_20240601 02,1,20240601 02,18.1,0.0,2.6,80.0,0.0,0.00,5338.17,호텔,82912.71,77586.0,-,-,-
3,1_20240601 03,1,20240601 03,18.0,0.0,2.6,81.0,0.0,0.00,4554.42,호텔,82912.71,77586.0,-,-,-
4,1_20240601 04,1,20240601 04,17.8,0.0,1.3,81.0,0.0,0.00,3602.25,호텔,82912.71,77586.0,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100_20240824 19,100,20240824 19,29.1,0.0,4.4,76.0,0.4,0.18,3276.00,호텔,162070.24,152943.0,-,-,-
203996,100_20240824 20,100,20240824 20,28.6,0.0,3.7,74.0,0.0,0.00,3197.52,호텔,162070.24,152943.0,-,-,-
203997,100_20240824 21,100,20240824 21,28.3,0.0,2.9,74.0,0.0,0.00,3006.60,호텔,162070.24,152943.0,-,-,-
203998,100_20240824 22,100,20240824 22,28.0,0.0,1.7,76.0,0.0,0.00,2649.72,호텔,162070.24,152943.0,-,-,-
203999,100_20240824 23,100,20240824 23,28.0,0.0,2.1,75.0,0.0,0.00,2929.32,호텔,162070.24,152943.0,-,-,-